[Unit]
Description=Cmux Services Target
Requires=cmux-openvscode.service cmux-worker.service cmux-vnc.service
Wants=cmux-dockerd.service cmux-vnc.service
After=cmux-openvscode.service cmux-dockerd.service cmux-vnc.service

[Install]
WantedBy=multi-user.target
